@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: "roboto", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #246337;
  color: white;
  text-align: center;
  padding: 1rem;
}

header h1, header h2 {
  display: block;
  margin: 0;
  padding: 0.5rem 0;
}

nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: larger;
}

nav ul {
  display: flex;
  flex-direction: column; /* Vertical layout for mobile view */
  list-style-type: none;
  align-items: center; /* Center the links in mobile view */
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem; /* Spacing between sections */
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

main h2 {
  text-align: center;
  margin: 1rem auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  max-width: 80%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.card {
  flex: 1 1 calc(33.333% - 2rem); /* Default width to fit three cards in a row */
  margin: 1rem;
  max-width: 500px;
  background: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0;
  border:#333 outset 5px;
}



.card img {
    height: auto;
    width: 90%;
    border: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Pushes the footer to the bottom */
  grid-column: span 1;
}

footer p {
  margin: 0.5rem 0;
  display: inline-flex;
}

.card h3 {
  text-align: left;
  background-color: #246337;
  color: white;
  padding: 1rem;
  margin: 0;
}

.card p, a, img {
  text-align: left;
  padding: 1rem;
}

#lastModified {
  color: yellowgreen;
}

@media only screen and (min-width: 37.5em) {
  main {
      grid-template-columns: 1fr 1fr;
  }

  .card:nth-child(3) {
      grid-column: span 2;
  }

  footer {
      grid-column: span 2; /* Span 2 columns on medium screens */
  }
}

@media only screen and (min-width: 60em) {
  main {
      grid-template-columns: 1fr 1fr 1fr;
  }

  .card:nth-child(3) {
      grid-column: span 1;
  }

  footer {
      grid-column: span 3; /* Span 3 columns on large screens */
  }
}

/* Media Query for larger views */
@media screen and (min-width: 500px) {
  header {
    background-color: #246337;
    color: white;
  }

  nav ul {
    flex-direction: row; /* Horizontal layout for larger views */
    justify-content: center; /* Center the navigation links */
  }

  nav ul li {
    padding: 10px 20px; /* Add more padding for horizontal layout */
  }

  main {
    grid-template-columns: 1fr 1fr; /* Two columns layout for larger views */
  }

  main h2 {
      grid-column: span 2;
  }
}