* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

header {
  background-color: #b92424;
  color: white;
  text-align: center;
  padding: 1rem;
}

img {
  height: auto;
  max-width: 150px;
  padding-right: 60px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

header h1 {
  font-size: 2rem;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
	content: "✖";
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.hide {
  display: none;
}

nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: larger;
}

nav ul {
  display: flex;
  flex-direction: column; /* Vertical layout for mobile view */
  list-style-type: none;
  align-items: center; /* Center the links in mobile view */
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  position: relative;
}

nav ul li a:hover {
  background-color: #555;
}

.navigation a.current::after, .navigation a:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color:white;
  margin-top: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
  
  main {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  gap: 1rem; /* Spacing between sections */
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

main h2 {
  text-align: center;
  margin: 1rem auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  max-width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  flex: 1 1 calc(33.333% - 2rem);
  max-width: 500px;
  margin: 1rem;
  background: white;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  padding: 0;
}

.card li {
  margin: 0.5rem 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

footer p {
  margin: 0.5rem 0;
  display: inline-flex;
}

.card ul {
  padding: 1rem;
}

.card ul li {
  list-style-type: none;
  padding: 1px;
}

.card ul li a {
  list-style-type: none;
  text-decoration: underline;
}

.card ul li a:hover {
  text-decoration: none; /* Remove underline on hover */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

/* Expand the card when hovering over list items */
.card ul li:hover .card {
  transform: scale(1.05);
}

.card h3 {
  text-align: center;
  background-color: #b92424;
  color: white;
  text-align: center;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card p {
  text-align: center;
  padding: 1rem;
}

#lastModified {
  color: yellowgreen;
}

.hometown iframe{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center horizontally */
  width: 100%; /* Adjust width as needed */
  height: 300px; /* Maintain height */
}

@media only screen and (min-width: 37.5em) {
main {
    grid-template-columns: 1fr 2fr;
  }

 .card:nth-child(1) {
      grid-column: 1/2;
  }

  footer {
      grid-column: span 2; /* Span 2 columns on medium screens */
  }

  #menu {
    display: none; /* hide hamburger button */
  }

  .hide {
    display: flex;
  }

  .hometown iframe{
    width: 100%; /* Make the iframe span the full width of its container */
    height: 100%; /* Span full height of container as well. */
  }

  .hometown {
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center horizontally */
  width: 200%; /* Adjust width as needed */
  height: 300px; /* Maintain height */
  }

}

@media only screen and (min-width: 60em) {
  main {
    grid-template-columns: 1fr 2fr;
}

footer {
    grid-column: 2 / 3; /* Span 3 columns on large screens */
}

#menu {
  display: none; /* hide hamburger button */
}
}