/* Media Query for larger views */
@media screen and (min-width: 500px) {
    header {
      background-color: #b92424;
      color: white;
    }
  
    nav ul {
      flex-direction: row; /* Horizontal layout for larger views */
      justify-content: center; /* Center the navigation links */
      flex: 1 1 100%;
    }
  
    nav ul li {
      padding: 10px 20px; /* Add more padding for horizontal layout */
    }

    main {
      grid-template-columns: 1fr 1fr; /* Two columns layout for larger views */
    }

    main h2 {
        grid-column: span 2;
    }
    
    #menu {
      display: none; /* hide hamburger button */
    }
  
}